{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blog - Joyce Victal</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Chicle|Lily+Script+One|Norican|Open+Sans" rel="stylesheet">
    </head>
         <body>
            <div class="page-header">
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>
                </a>
                <h1 class="title">Time to do...</h1>
                <h1 class="magic"> magic !</h1>
                <h2 class="signature">By Joyce Victal</h2>
                <aside>
                    <ul class="icones-sociais">
                        <li><a href="https://github.com/joycevictal" class="github">Gitbhub</a></li>
                        <li><a href="https://twitter.com/joycevictal" class="twitter">Twiter</a></li>
                        <li><a href="https://br.linkedin.com/in/joycevictal" class="linkedin">Linkedin</a></li>
                    </ul>
                </aside>    
            </div>
            <div class="content container">
                <div class="about_me">
                <h2>About me:</h2>
                    <p>Hello! I am Joyce... After some time working in finance and with lots of encouragement from my husband Leo. So, I decided to expand my knowledge in information technology and   currently I have been study heavily to be a web developer.</p>
                </div>
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
    <footer class="rodape-pagina clearfix">
        &copy; Joyce Victal 2016
    </footer>
</html>
