{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blog - Joyce Victal</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Chicle|Open+Sans" rel="stylesheet">    
    </head>
         <body>
            <div class="page-header">
                <a href="{% url 'post_new' %}" class="top-menu">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <h1><a href="/">Time to do MAGIC!</a></h1>
                <h2><a>By Joyce Victal</a></h2>
                <aside>
                    <ul class="icones-sociais">
                        <li><a href="https://github.com/joycevictal" class="github">Gitbhub</a></li>
                        <li><a href="https://twitter.com/joycevictal" class="twitter">Twiter</a></li>
                        <li><a href="https://br.linkedin.com/in/joycevictal" class="linkedin">Linkedin</a></li>
                    </ul>
                </aside>    
            </div>
            <div>
                <h2><a>About me:</a></h2>
                <p>Hello! I am Joyce... After some time working in finance and with lots of encouragement from my husband Leo... My proudest! :) Then, I decided to expand my knowledge in information technology and Leo gives to me the package of courses  currently I have been study heavily to be a web developer.</p>
            </div>

            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
    <footer class="rodape-pagina clearfix">
        &copy; Joyce Victal 2016
    </footer>
</html>