{% extends 'blog/base.html' %}

{% block content %}
    <div class="about_me">
        <h2>About me:</h2>
        <p>Olá! Meu nome é Joyce... Após anos trabalhando na área de finanças e com <strong>muito</strong> incentivo do meu marido, resolvi entender um pouco mais sobre Tecnologia da Informação. E, desde então sigo firme e forte estudando e ampliando o meu conhecimento... A cada aprendizado conquistado, fico encantada e estou simplesmente amando tudo isso!!! :) </p>
    </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}
