<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blog - Joyce Victal</title>
        <link rel="icon" href="img/favicon.png">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/site.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700">
    </head>

    <body>
        <main>
            <h1 class="titulo">Joyce Victal</h1>
            <div class="principal">

            </div>
    </body>

    <footer class="rodape-pagina clearfix">
        &copy; Joyce Victal 2016
    </footer>
</html>